
<head>
	  <title> Twitter Sentiment Analysis</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>

<style>
body {
 background-image: url("bacground.jpg");
 background-color: #cccccc;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.mainbox {
margin:10% 8%;
height:50%;
width:30%;

}
.login100-form-logo {
background-color:none;
}
.login100-form-logo img{
width : 120px; 
height:auto;
bac
}
.container-login100-form-btn button{
color: black;
}

</style>


<body>
	
	<div class="limiter">
			<div class="mainbox">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<img src="logo group.png">
					</span>
						<br>
					<span class="login100-form-title p-b-34 p-t-27">
						Enter Screen Name
					</span>

					<form action={% url 'success' %} method="POST">
					            {% csrf_token %}

			

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="screen_name" type="text" name="screen_name" placeholder="Enter the Screen Name" required>
						
					</div>

					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit
						</button>
						
					</div>
					</form>
					</form>
			</div>
		
	</div>
	

	
</body>
</html>